<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Karukan</string>
	<key>CFBundleDisplayName</key>
	<string>Karukan</string>
	<key>InputMethodConnectionName</key>
	<string>KarukanIM</string>
	<key>InputMethodServerControllerClass</key>
	<string>KarukanIMExtension.KarukanInputController</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPrincipalClass</key>
		<string>KarukanIMExtension.KarukanInputController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.inputmethodkit</string>
	</dict>
	<key>NSPrincipalClass</key>
	<string>KarukanIMExtension.KarukanInputController</string>
	<key>ComponentCategory</key>
	<string>TIInputSourceTypeKeyboardInputMethodWithDictionary</string>
	<key>tsInputMethodIconFileKey</key>
	<string>Hiragana.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.example.inputmethod.karukan.hiragana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.example.inputmethod.karukan.hiragana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>TISInputSourceIsASCIICapable</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
				<key>tsInputMethodCharacterRepertoireKey</key>
				<array>
					<string>Hira</string>
					<string>Kana</string>
					<string>Latn</string>
				</array>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Hiragana.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Hiragana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
